@using Template.Models;

@using PagedList.Mvc;
@model PagedList.PagedList<Template.Models.Phong>
<link href="~/Content/CssChucnang/cssChucnang.css" rel="stylesheet" />
@{
    ViewBag.Title = "PhongTro";
    Layout = "~/Views/LayoutAdmin/Admin.cshtml";
}

<h2>Phòng Trọ</h2>
@using (Html.BeginForm("TimKiem", "PhongTro", FormMethod.Post))
{
     <form role="form">
            <div class="form-group"> 
                <input class="form-control" placeholder="Tên Phòng" @Html.TextBox("SearchString")>
                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
            </div>
            
        </form>
}
<p>
    <button type="button" class="btn btn-primary">@Html.ActionLink("Thêm Mới", "ThemMoi")</button>
</p>
<table class="table" border="1">
    <tr style="background-color: #EEEEEE">
        <th>
            @Html.DisplayNameFor(model => model.First().MaPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DienTich)
        </th>
        <th>Chức Năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienTich)
        </td>
        <td>
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Sửa", "Sua", new { @MaPhong = item.MaPhong })</button> |
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Hiển thị", "Hienthi", new { @MaPhong = item.MaPhong })</button> |
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Xóa", "Xoa", new { @MaPhong = item.MaPhong })</button>  
        </td>
    </tr>
}

</table>
@*Tao link lien ket cac trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("PhongTro", new { page = page }))

</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>

