@model Template.Models.DichVu

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/LayoutAdmin/Admin.cshtml";
}

<h2>Xóa</h2>

<i style="color:red">Bạn chắc chắn muốn xóa dịch vụ này?</i>
<div>
    
    <hr />
    <table border="1">
        <tr class="dl-horizontal" style="background-color: #DDDDDD; color: white; width:100px">
            <th>
                @Html.DisplayNameFor(model => model.MaDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaDV)
            </th>
        </tr>
        <tr class="dl-horizontal">
            <td>
                @Html.DisplayFor(model => model.MaDV)
            </td>
            <td>
                @Html.DisplayFor(model => model.TenDV)
            </td>
            <td>
                @Html.DisplayFor(model => model.GiaDV)
            </td>

        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
         <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            <button type="button" class="btn btn-success btn-lg">@Html.ActionLink("Trở về", "DichVu")</button>
        </div>
    }
</div>
