@using Template.Models;

@using PagedList.Mvc;
@model PagedList.PagedList<Template.Models.KhachHang>

@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/LayoutAdmin/Admin.cshtml";
}

<h2>Khách Hàng</h2>
@*<p>
    @Html.ActionLink("Thêm Mới", "ThemMoi")
</p>*@
@using (Html.BeginForm("TimKiem", "KhachHang", FormMethod.Post))
{
    @*<p>
        Tên KH:@Html.TextBox("SearchString")
        <input type="submit" value="Tìm kiếm" />
    </p>*@
      <form role="form">
            <div class="form-group"> 
                <input class="form-control" placeholder="Tên KH" @Html.TextBox("SearchString")>
                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
            </div>
            
        </form>
}

<p>
    <button type="button" class="btn btn-primary">@Html.ActionLink("Thêm Mới", "ThemMoi")</button>

</p>
<table class="table" border="1">
    <tr style="background-color: #EEEEEE">
        <th>
            @Html.DisplayNameFor(model => model.First().MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Nghenghiep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CMND)
        </th>
        <th>Chức Năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nghenghiep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Sửa", "Sua", new { @MaKH = item.MaKH })</button> |
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Hiển thị", "Hienthi", new { @MaKH = item.MaKH })</button> |
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Xóa", "Xoa", new { @MaKH = item.MaKH })</button>
        </td>
    </tr>
}

</table>
@*Tao link lien ket cac trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("KhachHang", new { page=page}))

</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>

