@model Template.Models.User
<style>
    .text{
        color:blue;
    }
    h2 {
        font-family: "Times New Roman", Times, serif;
        color: #999999;
        margin-left: 20px;
        margin-top: 20px;
    }
</style>
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout1/_LayoutPage1.cshtml";
}

<h2>Đăng Ký</h2>
<i style="color:red">@ViewBag.ThongBao</i>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="text">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            <div class="text">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

        <div class="form-group">
            <div class="text">
                @Html.LabelFor(model => model.Fullname, new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fullname)
                @Html.ValidationMessageFor(model => model.Fullname)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng Ký" class="btn btn-success" />
                <button type="button" class="btn btn-default">@Html.ActionLink("Đăng nhập", "Dangnhap")</button>
            </div>
        </div>
    </div>
}


