@model IEnumerable<Template.Models.DichVu>

@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/LayoutAdmin/Admin.cshtml";
}

<h2>Tìm Kiếm</h2>

<p>
    <button type="button" class="btn btn-primary">@Html.ActionLink("Thêm Mới", "ThemMoi")</button>
    <button type="button" class="btn btn-success">@Html.ActionLink("Trở về", "DichVu")</button>
</p>
<table class="table" border="1">
    <tr style="background-color:#EEEEEE;">
        <th>
            @Html.DisplayNameFor(model => model.MaDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaDV)
        </th>
        <th>Chức Năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaDV)
        </td>
        <td>
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Sửa", "Sua", new { @MaDV = item.MaDV })</button> |
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Hiển thị", "Hienthi", new { @MaDV = item.MaDV })</button> |
            <button type="submit" class="btn btn-primary">@Html.ActionLink("Xóa", "Xoa", new { @MaDV = item.MaDV })</button>
        </td>
    </tr>
}

</table>
